[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tsaux"]
	path = tsaux
	url = https://github.com/tsmodels/tsaux
[submodule "tsdistributions"]
	path = tsdistributions
	url = https://github.com/tsmodels/tsdistributions
[submodule "tsgarch"]
	path = tsgarch
	url = https://github.com/tsmodels/tsgarch
[submodule "tsmarch"]
	path = tsmarch
	url = https://github.com/tsmodels/tsmarch
[submodule "tsmethods"]
	path = tsmethods
	url = https://github.com/tsmodels/tsmethods
[submodule "tstests"]
	path = tstests
	url = https://github.com/tsmodels/tstests
